<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AERTRIP.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
				<key>dateExpires</key>
				<string>17/03/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ActiveLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AvailableHapticFeedback.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FlexiblePageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IOSLinkedInAPIFix.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>LinkedinSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MXParallaxHeader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MiniLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PKCategoryView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PKLoader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Parchment.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PhoneNumberKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TransitionButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5575B4B3A3957FAC2ECDCD826AAEE96CCF17705E</string>
						<key>dateExpires</key>
						<string>17/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3688DX2N9</string>
						<key>name</key>
						<string>Aertrip India Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z3688DX2N9.com.aertrip.app</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:www.aertrip.com</string>
					<string>applinks:email.mailer.aertrip.com</string>
					<string>applinks:aertrip.com</string>
					<string>applinks:beta.aertrip.com</string>
					<string>applinks:*.aertrip.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Z3688DX2N9</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>AERTRIP.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>21d54dd6-7fb3-47b4-9a82-0979bb2769a4</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.aertrip.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z3688DX2N9</string>
				<key>name</key>
				<string>Aertrip India Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
