<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>795623528233-flurh7tg7vo1oelj46rhkpq3kc7f6a5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795623528233-flurh7tg7vo1oelj46rhkpq3kc7f6a5g</string>
	<key>API_KEY</key>
	<string>AIzaSyA-zJoNeeV_U1csASezLgyAbWbcyVXNCXY</string>
	<key>GCM_SENDER_ID</key>
	<string>795623528233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aertrip.app</string>
	<key>PROJECT_ID</key>
	<string>beta-aertrip-e418a</string>
	<key>STORAGE_BUCKET</key>
	<string>beta-aertrip-e418a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795623528233:ios:c4295c76b2103c04</string>
	<key>DATABASE_URL</key>
	<string>https://beta-aertrip-e418a.firebaseio.com</string>
</dict>
</plist>