<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUNDLE_ID</key>
	<string>com.app.AERTRIP</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Aertrip</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1080161318756977</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.683481048334-568us2uci4j08mp801obq615lsr31pkj</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>li4769155</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.aertrip.app</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aertrip</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CLIENT_ID</key>
	<string>175392921069-agcdbrcffqcbhl1cbeatvjafd35335gm.apps.googleusercontent.com</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>b1d76909c3f911405604adaed9943a3612918dcf</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1080161318756977</string>
	<key>FacebookDisplayName</key>
	<string>AERTRIP</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://beta.aertrip.com</string>
		<string>http://beta.aertrip.com</string>
		<string>https://www.aertrip.com</string>
		<string>http://www.aertrip.com</string>
		<string>https://email.mailer.aertrip.com</string>
		<string>http://email.mailer.aertrip.com</string>
		<string>https://aertrip.com</string>
		<string>http://aertrip.com</string>
		<string>https://*.aertrip.com</string>
		<string>http://*.aertrip.com</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LIAppId</key>
	<string>12426494</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>googlegmail</string>
		<string>comgooglemaps</string>
		<string>instagram</string>
		<string>twitter</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>linkedin.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Aertrip requires calander permission to create events.</string>
	<key>NSCameraUsageDescription</key>
	<string>Aertrip requires camera permission to set profile image.</string>
	<key>NSContactsUsageDescription</key>
	<string>Aertrip requires contacts permission to add your contacts to traveller list..</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Aertrip uses your location to help you find the nearest hotels and airports.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Aertrip uses your location to help you find the nearest hotels and airports.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Aerin requires microphone permission to perform voice searches.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Aertrip requires photo library permission to set profile image.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Aertrip requires speech recognition permission to recognize speech and perform search.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Kindly allow permission as your data is used only to offer you a more personalized and refined experience.</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13350074803-jnf88no6vp1qpo3np3bveti5nqrdm51i</string>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSansPro-Black.ttf</string>
		<string>SourceSansPro-BlackItalic.ttf</string>
		<string>SourceSansPro-Bold.ttf</string>
		<string>SourceSansPro-BoldItalic.ttf</string>
		<string>SourceSansPro-ExtraLight.ttf</string>
		<string>SourceSansPro-ExtraLightItalic.ttf</string>
		<string>SourceSansPro-Italic.ttf</string>
		<string>SourceSansPro-Light.ttf</string>
		<string>SourceSansPro-LightItalic.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-SemiBold.ttf</string>
		<string>SourceSansPro-SemiBoldItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Splash</string>
	<key>UIMainStoryboardFile</key>
	<string>PreLogin</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
